* {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #393e46;
    margin: 0;
  }
  
  h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #72147e;
  }
  
  h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: #ff5200;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  table {
    width: 60%;
    margin:auto;
    padding-top: 5cm;
    padding-left: 5cm;
  }
  
  label {
    display: block;
  }
  
  input {
    padding-top: 5px;
  }
  
  th {
    text-align: left;
  }
  .header {
    background-color: #eeeeee;
    height: 100px;
    padding-top: 20px;
  }
  
  .content-info {
    width: 20%;
    padding-left: 30px; 
    float: left;  
  }
  
  .left {
    width: 50%;
    float: left;
  }
  
  .right {
    margin-left: 50%;
  }
  
  .field {
    margin-top: 10px;
  }

  .fieldbutton {
    margin-top: 5px;
    text-align: center;
  }
  
  .center{
    text-align: center;
    margin-bottom: 20px;
  }
  .inputs {
    border-radius: 4px;
    width: 200px;
  }

  .button {
    width: 50%;
    margin-top: 10px;
  }

  .buttonAction {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .info {
    padding: 10px;
    margin-top: 1cm;
    margin-right: 40%;
    width: 8cm;
    border: 6px solid black;
    border: 2px solid gray;
    float: right;
    
  }

  